<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/user/new">
        <h1> Create a New User </h1>
        <input name="id" placeholder="Use an Unique ID" type="text">
        <input name="username" placeholder=" Your Username" type="text">
        <input name="email" placeholder="Email" type="text">
        <input name="password" placeholder="Use a strong Password" type="password">
        <button type="submit"> Submit </button>
    </form>
    

</body>
</html>